.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sizing-box{
    height: 80px;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 3px solid yellow;
    margin-bottom:8px;
    color: yellow;
    
}
.sizing-box:hover{
    border: 1px solid yellow;
}
.border-radius{
    border-radius: 10px;
    margin: 30px;
}